<header>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a class="btn btn-primary" role="button" routerLink="/Home">Home</a>
      </div>
      <div class="col-md-4">
        <h4>Cocktail Recipe App</h4>
      </div>
      <div class="col-md-3">
        <label>Search Cocktails by Name</label>
        <br>
        <label>
          <input (keyup.enter)="searchByName($event)">
        </label>
      </div>
      <div class="col-md-3">
        <label>Search Cocktails by Ingredient</label>
        <label>
          <input (keyup.enter)="searchByIngredient($event)">
        </label>
      </div>
    </div>
  </div>
</header>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let cocktail of cocktailList">
        <a [routerLink]="['/CocktailPage', cocktail.idDrink]"><img class="img-fluid" src="{{cocktail.strDrinkThumb}}" alt="{{cocktail.strDrink}}"></a>
        <br>
        <label>{{cocktail.strDrink}}</label>
      </div>
    </div>
  </div>
</body>
