<header>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a class="btn btn-primary" role="button" routerLink="/Home">Home</a>
      </div>
      <div class="col-md-6">
        <h5>Food Recipe App</h5>
      </div>
    </div>
  </div>
</header>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let recipe of recipeList">
        <a><img class="img-fluid" src="{{recipe.strMealThumb}}" alt="{{recipe.strMeal}}"></a>
        <br>
        <label>{{recipe.strMeal}}</label>
      </div>
    </div>
  </div>
</body>
