<header>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a class="btn btn-primary" role="button" href="assets/files/Paul%20Drake%20Resume%202.pdf">Resume</a>
      </div>
      <div class="col-md-7">
        <h2>Paul Drake's Website</h2>
      </div>
      <div class="dropdown col-md-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Projects</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/Movies">Movie Streaming Availability App</a>
        </div>
      </div>
    </div>
  </div>
</header>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Hello, my name is Paul Drake and I specialize in web development. I am a graduate of Lubbock Coding Academy with Certification in Full Stack Software Development as of November, 2020. Please visit my portfolio at www.github.com/pdrake1988 to view my Capstone Project and Movie Showtime App Project that I completed at Lubbock Coding Academy along with other web development projects in progress. I have an innate curiosity for pattern-finding, logic, problem-solving and trying to find innovative solutions. In my spare time, I love to solve puzzles. When I realized that the process of coding and programming was like solving a puzzle, I became absolutely hooked on web development. Learning new languages and creating complex projects is rewarding for me.</p>
      <br>
      <p>
        One thing that sets me apart is I am a former Paramedic graduate with an Emergency Medical Services Technician Certification graduating in the top 5% of my class. I initially wanted to provide out-of-hospital acute care and help others and worked required clinical hours towards this goal. After some time, I realized this career was not a fit because the tasks became stagnant. I am thrilled to have made this change to web development where I can support the tech and ecommerce industries.
      </p>
      <br>
      <p>When I have the day off, I enjoy cooking delicious meals in the kitchen, listening to music, playing video games and online card games. I also love spending quality time with my family.</p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="assets/files/_DSC0630-Costco3.jpg" alt="my picture">
    </div>
  </div>
</div>
